%h2= "#{@position.name} - #{@position.company.name}"
%p= "#{career_name(@position.career)} - #{@position.city} / #{modality(@position)}, #{@position.state} - #{contract_name(@position.contract)}"

= @position.description

%br/
%h5 Compartilhar
= render partial: 'shared/social_network', locals: {position: @position}

.wrapper-form-application
  - if user_signed_in?
    %p Insira as suas informaçōes abaixo para se candidatar à vaga de #{@position.name}
    = render 'applicants/form'
  - else
    %p Você precisa estar logado para se candidatar